.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--foreground);
}
